<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.exthm.rmoonorc"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.STATUS_BAR_SERVICE" 
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moon_orc"
        >

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Rmoonorc.Transparent"
    	    android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".OcrResultActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Rmoonorc.Transparent"
    	    android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ScanAnimationActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.Rmoonorc.Transparent"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize|keyboardHidden" />

        <service
            android:name=".service.OcrService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection" />

    </application>

</manifest>
